html
	head
		title Stump The Trump
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		style
			include ../public/stylesheets/main.css
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js")
		include trumpbuck_template.html
	body

		//- div(id="navbar")
		//- 	p America Again: Re-becoming the Greatness We Never Weren't ( Click the Trump-Bucks to see tweets! )



		//- div(id="tb-1", class="trump-buck")
		//- 	div(class="trump-sign")
		//- 		i(class="fa fa-usd")
		//- 	div(class="tweet-container")
		//- 		div(class="trump-pic")
		//- 			p(class="trump-text") E Pluribus Trumpum
		//- 	div(class="trump-sign")
		//- 		i(class="fa fa-usd")

		script(src="animations.js")
		script(src="trump.js")
