html
	head
		title Stump The Trump
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		style
			include ../public/stylesheets/main.css
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js")
		include trumpbuck_template.html
		include trumpbuck_template_back.html
	body
		script(src="animations.js")
		script(src="falling_item.js")
