<script id="trump-buck-template" type="text/x-handlebars-template">
  <div id="{{id}}" class="trump-buck">
    
    <!-- Front of item showed at beginning -->
    <div class="front">
        <div class="trump-sign">
        	<i class="fa fa-usd"></i>
        </div>

        <div class="tweet-container">
    	    <div class="trump-pic">
    	      <p class="trump-text"> E Pluribus Trumpum</p>
    	    </div>
        </div>
        
        <div class="trump-sign">
        	<i class="fa fa-usd"></i>
        </div>
    </div>

    <!-- Shown after tb clicked -->
    <div class="back">
    </div>

  </div>
</script>